.page.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --text-color-title: #ff0070;
  --header-paragraph-text-accent: #000028;
  --decorated-color: #ff0070;
  --main-font: "IBM Plex mono";
  --accent-font: #ff0070;
  --accent-transform: lowercase;
  --color-header-text: #db00ff;
  --padding-mobile: 10px;
  --padding-desktop: 20px;
  --font-size-main: 18px;
  --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --bg-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .decorated__rec {
  display: block;
} 

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --text-color-title: #ff0070;
    --header-paragraph-text-accent: #000028;
    --decorated-color: #ff0070;
    --main-font: "IBM Plex mono";
    --accent-font: #ff0070;
    --accent-transform: lowercase;
    --color-header-text: #db00ff;
    --padding-mobile: 10px;
    --padding-desktop: 20px;
    --font-size-main: 18px;
    --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --bg-image: url(../images/cover-image-dark.png);
  }

  .page.theme_dark .decorated__rec {
    display: block;
  }
}





















