.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --text-color-title: #353430;
  --header-paragraph-text-accent: #000028;
  --decorated-color: #353430;
  --main-font: "IBM Plex mono";
  --accent-font: #ff8dcb;
  --accent-transform: lowercase;
  --color-header-text: #ffc2e6;
  --padding-mobile: 10px;
  --padding-desktop: 20px;
  --font-size-main: 18px;
  --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --bg-image: url(../images/cover-image-light.png);
}

.page.theme_light .decorated__rec {
  display: none;
} 

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --text-color-title: #353430;
    --header-paragraph-text-accent: #000028;
    --decorated-color: #353430;
    --main-font: "IBM Plex mono";
    --accent-font: #ff8dcb;
    --accent-transform: lowercase;
    --color-header-text: #ffc2e6;
    --padding-mobile: 10px;
    --padding-desktop: 20px;
    --font-size-main: 18px;
    --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --bg-image: url(../images/cover-image-light.png);
  }

  .decorated__rec {
    display: none;
  } 
}